/* General Page Styling */
body {

    justify-content: center; /* center vertically */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0f8ff;
    margin: 12;
    padding: 12;
    display: flex;
    min-height: 100vh;
    background: url('https://www.transparenttextures.com/patterns/skulls.png');

}   
  /* Style for the settings button */
  .settings-btn  
.relative-container {
    position: relative; /* establish positioning context */
    height: 200px; /* adjust as needed */
}

.absolute-icon {
    position: absolute;
    top: 20px; /* adjust position */
    left: 30px; /* adjust position */
}

.sidebar h3 {
    margin-bottom: 20px;
}

.sidebar input[type="range"] {
    width: 100%;
}

.sidebar #fontSizeValue {
    margin-left: 10px;
}

/* Main Content Styling */
.main-content {
    margin-left: 270px; /* Offset for sidebar */
    width: calc(100% - 270px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.container {
    background-color: #ffeb3b;
    padding: 30px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    border: 5px solid #ff9800;
    font-size: var(--font-size); /* Dynamic font size */
}

h2, h3 {
    color: #e91e63;
    font-size: 28px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ff9800;
    border-radius: 12px;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
}

button {
    background-color: #e91e63;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: #ff4081;
    transform: scale(1.1);
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color: #ff5722;
    color: #fff;
    margin: 10px 0;
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
}

/* Quiz Section */
#quizSection {
    margin-top: 30px;
    padding: 20px;
    background-color: #ff9800;
    border-radius: 25px;
}

#question {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

#choices li {
    background-color: #8bc34a;
    color: #fff;
    padding: 12px;
    margin: 5px 0;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choices li.correct {
    background-color: #4CAF50; /* Green for correct */
}

#choices li.wrong {
    background-color: #f44336; /* Red for wrong */
}

#quizMessage {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    color: #e91e63;
}

#backToFlashcards {
    margin-top: 20px;
}
